@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Nuosu+SIL&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Nuosu+SIL&family=Roboto:wght@300&family=Tiro+Devanagari+Sanskrit&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto,sans-serif;
}

#nav-bar{
    width: 100%;
    height: 70px;
    position: fixed;  
    background-color: #fff0f0; 
    z-index: 100;       
}

nav{
    display: flex;
    justify-content: space-between;
       
}

ul{
    display: flex;
    margin-left:200px;
}

ul a{
    text-decoration: none;
    list-style: none;
}

nav li{
    position: relative;
    text-decoration: none;
    color: black;
    margin: 25px 20px;
    text-transform: capitalize;
    font-weight: 500;
}

nav li:after{
    content: "";
    position: absolute;
    background-color: #565656;
    height: 2px;
    width: 0;
    left: 0;
    bottom: -25px;
    margin: 0;
    padding: 0;
    transition: 0.5s;
}
nav li:hover::after{
    width: 100%;
}
#logo{
    height: 70px;
    margin-left: 30px;
    margin-top: 0px;
}

nav button{
    width: 100px;
    height: 50px;
    font-weight: 500;
    text-transform: capitalize;
    font-size: 87%;
    border: none;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    
}
 #btn{
    display: flex;
    justify-content: space-between;
    margin-right: 55px;
    margin-top: 10px;
 }

 #sign-up{
    background-color: #565656;
    color: #fff0f0;
    outline: none;
    margin-left: 10px;
 }
#hero{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.4)),url(../assets/images/hero1.jpeg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

h1{
    color: rgb(250, 218, 158);
    text-transform: capitalize;
    font-family: Tiro Devanagari Sanskrit;
    font-size: 50px;
    letter-spacing: 1px;
    font-weight: bold;
}
h2{
    color: pink;
    padding-top:20%;
    text-transform: capitalize;
    font-family: Nanum Myeongjo;
    font-size: xx-large;
    letter-spacing: 2px;
    font-weight: lighter;
}
.titles{
    padding-left: 150px;
}

.topic{
    padding-left: 150px;
    color: #fff0f0;
    
}
#hero-btn{
    margin-left: 150px;
    margin-top: 120px;
    width: 150px;
    height: 50px;
    color: black;
    background-color: rgb(236, 126, 144);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-transform: capitalize;
    font-size: larger;
    font-weight: 500;
    transition: background-color 0.3s ease;
}

#hero-btn:hover{

    background-color: rgba(236, 126, 144,0.8);
}
.sign-up-container{
    position: absolute;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.4)),transparent;
    width: 550px;
    height: 530px;
    margin-top: 50px;
    font-family: roboto;
    text-transform: capitalize;
    display: none;
    border-radius: 15px;
    margin-left: 365px;
}

.login-container{
    position: absolute;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.4)),transparent;
    width: 550px;
    height: 500px;
    margin-top: 70px;
    font-family: roboto;
    text-transform: capitalize;
    display: none;
    border-radius: 15px;
    margin-left: 365px;
    text-align: center;
}
form{
    margin-left: 30px;
}
.sign-up-container label{
    display: flex;
    color: white;
}
.sign-up-container input{
    height: 35px;
    margin: 10px 0;
    width: 90%;
    border-radius: 10px;
    border: 1px solid lightgray;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.7)),transparent;
    padding: 0 5px;
    color: white;
}
.login-container  input{
    border: 1px solid rgb(189, 187, 187);
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.7)),transparent;
    padding: 0 5px;
    color: white;
    width: 70%;
    height: 60px;
    margin: 10px 0;
}
#login_form_btn{
    background-color: rgb(236, 126, 144);
    text-transform: capitalize;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 2px;
    text-transform: uppercase;
}
#login_form_btn:hover{
    background-color: rgba(236, 126, 144,0.8)
}
.login_inputs{
    margin-top: 80px;
    margin-bottom: 30px;
}
.login_bottom{
    text-decoration: none;
    color: white;
    padding: 10px;
}
form input:focus{
    outline: none;
}

form input::placeholder{
    color: white;
}
.up-top{
    height: 30px;
    padding-top: 15px;
    margin-bottom: 35px;
    color: wheat;
}

.up-top strong{
    font-size: small;
    margin-top: 0;

}

#submit-btn{
    background-color: rgb(236, 126, 144);
    text-transform: capitalize;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 2px;
    height: 40px;
}
#submit-btn:hover{
    background-color: rgba(236, 126, 144,0.8)
}
h3{
    text-align: center;
    margin-bottom: 15px;
    color: white;
    font-family: roboto;
    font-weight: lighter;
    text-transform: uppercase;
    font-size: xx-large;
}
/*discover css*/

#discover{
    width: 100%;
    height: 100vh;
    display: flex;
}

.left{
    background: linear-gradient( 0.25turn, rgb(236, 126, 144),#a5a3a3);
    width: 400px;
    height: 70px;
    display: flex;
    justify-content: space-between;
}

.left img{
    border-radius: 50%;
    width: 50px;
    margin: 10px;
}
.fa-group-arrows-rotate{
    color: rgb(134, 44, 59);
    cursor: pointer;
}
.fa-heart-circle-bolt{
    color: rgb(134, 44, 59);
    padding-top: 30px;
    padding-right: 30px;
    margin-left: 10px;
    cursor: pointer;
}
 .right{
    background-color: #F7F0E8;
    width: 100%;
 }
 .right form{
    text-align: center;
    border: 1px solid rgb(236, 126, 144);
    width: 80%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 20px;
 }

 .profile{
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.4)),transparent;
    height: 100vh;
 }
.profile_bg{
    background-color: pink;
}
 .right input::placeholder{
    color: #565656;
 }

 .right form .text{
    height: 30px;
    border: none;
    border-right: 1px solid rgb(236, 126, 144);
    background-color: #F7F0E8;
    text-transform: capitalize;
    padding-left: 25px;
 }
.fa-searchengin{
    position: absolute;
    padding-top: 10px;
}

#profile-btn{
    width: 70px;
    height: 35px;
    margin-left: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: rgb(236, 126, 144);
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

#profile-btn:hover{
    background-color: rgba(236, 126, 144,0.8);
    
}


.user-info{
    position: absolute;
    bottom: 0;
    padding-left: 30px;
    height: 150px;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.9));
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.user-info h5{
    color: #fff0f0;
    font-size: x-large;
    padding: 10px 0;
    padding-bottom: 0;
}
.user-info h5 b{
    color: #a5a3a3;
    font-size: large;
    padding-left:  10px;
}
.location{
    color: black;
    font-size: large;
    padding: 10px 0;
}
.location i{
    color: white;
    font-size: large;
    padding-right: 10px;
}
#user_info_icon i{
    padding: 0 30px;
    cursor: pointer;
}
.fa-xmark{
    color: rgb(250, 218, 158);
}
.fa-comment-dots{
    color: #fff0f0;
}
.fa-heart{
    color: rgb(236, 126, 144);
}
.profile li{
    position: relative;
    text-decoration: none;
    color: black; 
    margin: 25px 0;
    padding: 0 20px;
    text-transform: capitalize;
    font-weight: 500;
    list-style: none;
    cursor: pointer;
    width: fit-content;
}

.profile li:after{
    content: "";
    position: absolute;
    background-color: rgb(134, 44, 59);
    height: 2px;
    width: 0;
    left: 0;
    bottom: -15px;
    margin: 0;
    padding: 0;
    transition:  0.7s ease;
}
.profile li:hover::after{
    width: 100%;

}

#contact{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #af9b9b;
    height: 200px;
}

#contact h6, h4{
    color: #565656;
    font-size: large;
    font-family: roboto;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.footer-links i{
    padding: 10px;
    background-color: #af9b9b;
    border-radius: 50%;
    margin-bottom: 20px;
    cursor: pointer;
}

#contact li{
    list-style: none;
    margin: 20px;
    margin-left: 0;
}

#contact p{
    margin: 10px 0;

}

.footer-btn{
    margin-top: 10px;
    height: 35px;
    width: 180px;
    padding: 5px;
    border: none;
    outline: none;
}

.fa-paper-plane{
    background-color: rgb(236, 126, 144);
    height: 35px;
    width: 35px;
    align-items: center;
    margin-left: -4px;
    padding: 8px;
}
 
.w3-black{
    position: absolute;
}

.blog_title h3{
    color: black;
    font-size: x-large;
    font-weight: bold;
}

.visual img{
    width: 300px;
    height: 400px;
    border-radius: 5px;
    margin: 20px 40px;
}
.body{
    display: flex;
    justify-content: space-between;
}

.content p{
    margin: 20px 10px;
}

.author p{
    position: absolute;
    left: 790px;
    top: 1100px;
    font-style: italic;
}

.blog_btn{
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: rgb(236, 126, 144);
    text-transform: uppercase;
    float: right;
    margin-bottom: 0;
}
.display_block{
    display: block;
}
.menu{
    position: absolute;
    top: 17px;
    right: 0;
    cursor: pointer;
    display: none;
}
@media only screen and (max-width: 1046px) {

    .menu{
        display: block;
    }

    nav, ul{
        display: block;
    }
    #btn{
       width: 78%;
    }

    ul,#btn{
        margin-left: 22px;
    }
    nav ul li{
        border: 1px solid gray;
        margin: 5px 0;
        padding: 20px;
        border-radius: 5px;
        width: 80%;
    }


    nav li:after{
        content: "";
        position: absolute;
        background-color: transparent;
        height: 2px;
        width: 0;
        left: 0;
        bottom: -25px;
        margin: 0;
        padding: 0;
        transition: 0.5s;
    }
    nav li:hover::after{
        width: 0%;
    }

    .fixed{
        height: 0;
        background: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9)),transparent;
    }
    ul,#btn{
        display: none;
    }
  }











